*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#1e293b, #020617);
  color: #fff;
}

.container {
  width: 360px;
  padding: 35px 25px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.scores {
  font-size: 1.2rem;
  margin-bottom: 1.4rem;
}

#head {
  color: rgb(0, 255, 255);
}

#tail {
  color: #17ff77;
}

#heads,
#tails {
  font-weight: bold;
}

#result {
  width: 7rem;
  height: 7rem;
  background: #596275;
  border-radius: 100%;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #e2e8f0;
}

button {
  background: #7dfbff;
  color: #0b1027;
  font-size: 20px;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  box-shadow: 0 10px 25px rgba(56, 189, 248, 0.4);
}
